.container {
  max-width: 1400px;
  margin: auto;
}

.mainBlogs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px;
  margin-top: 2rem;
}

.category {
  grid-column: 1/3;
  margin: 0 1rem;
}

.sort_body {
  grid-column: 3/12;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.sort_body ul {
  display: flex;
  margin-right: 1rem;
}

.sort_body ul li {
  padding: 1rem;
  cursor: pointer;
}

.blogs {
  grid-column: 3/12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  overflow: hidden;
}

.blogs img {
  width: 100%;
}

.blog {
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #ddd;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog_img {
  overflow: hidden;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

.blog_content {
  background-color: #f9fafb;
  padding: 1rem;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.blog_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.blog_content_wrapper {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
}
.avatar_span {
  white-space: nowrap;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.avatar img {
  width: 100%;
  height: 100%;
  background-color: red;
}

.tech {
  font-size: 0.8rem;
  cursor: pointer;
  color: #1e40af;
  background-color: #dbeafe;
  padding: 0.5rem;
  border-radius: 10px;
}

.Icon_comment {
  width: 20px;
  height: 20px;
  color: #64748b;
}

.Icon_like {
  width: 20px;
  height: 20px;
  color: #dc2626;
  fill: #ef4444;
}

.Icon_bookmark {
  width: 20px;
  height: 20px;
  color: #3b82f6;
}

.Icon_clock {
  width: 15px;
  height: 15px;
  margin-left: 0.5rem;
}

.blog_datas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.blog_data {
  display: flex;
  align-items: center;
}

.blog_data_comment {
  display: flex;
  align-items: center;
  background-color: #e5e7eb;
  margin-left: 1rem;
  border-radius: 2px;
  padding: 0.2rem;
  cursor: pointer;
}

.blog_data_comment span {
  color: #4b5563;
  margin-right: 0.1rem;
}

.blog_data_like {
  display: flex;
  align-items: center;
  background-color: #fee2e2;
  margin-left: 1rem;
  cursor: pointer;
}

.blog_data_like span {
  color: #b91c1c;
  margin-right: 0.1rem;
}

.blog_data_bookmark {
  background-color: #dbeafe;
  cursor: pointer;
}

.blog_time {
  color: #9ca3af;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.accrodion {
  background-color: #fff;
  margin-left: 1rem;
  border-radius: 30px;
  overflow: hidden;
}

.accrodion_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
  background-color: #f3e8ff;
  width: 100%;
}

.accrodion_content {
  display: flex;
  flex-direction: column;
}

.accrodion_content a {
  display: block;
  padding: 1rem 0.5rem;
}

.accrodion_content a:last-child {
  margin-bottom: 2rem;
}

.accrodion_content a:hover {
  background-color: #c084fc;
}

.Icon {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-in-out;
  color: #7e22ce;
}

.IconRotate {
  transform: rotate(180deg);
}

.IconStraight {
  transform: rotate(0);
}

.accrodion_content_hidden {
  display: none;
}

.accrodion_content_auto {
  display: block;
}

.Icon_sort {
  width: 24px;
  height: 24px;
  color: rgb(133, 127, 127);
  align-items: center;
}

.sort_content {
  display: flex;
  align-items: center;
}

.sort_list {
  display: flex;
}

@media screen and (max-width: 768px) {
  .mainBlogs {
    display: flex;
  }
  .category {
    display: none;
  }

  .sort_body {
    display: none;
  }
  .blogs {
    width: 90vw;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .blogs {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
